@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/jquery-weekdays.css" />
    <link rel="stylesheet" href="~/css/jquery.fileuploader.min.css" />
    <link rel="stylesheet" href="~/font/font-fileuploader.css" />
    <link rel="stylesheet" href="~/css/Dashboard.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body class="bg-img">
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-10 mx-auto">
                        <div class="row bg-register-form">
                            <div class="col-md-8 auth-form-light text-left px-5 py-3">
                                <h4 class="text-center">Create Account</h4>
                                <form data-ajax="true" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group mt-4">
                                        <div class="row">
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.BusinessName"></label>
                                                <input asp-for="Input.BusinessName" class="form-control" id="RegistrationName" />
                                                <span asp-validation-for="Input.BusinessName" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.Email"></label>
                                                <input asp-for="Input.Email" class="form-control" id="RegistrationEmail" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group pt-3">
                                        <label asp-for="Input.BusinessAddress"></label>
                                        <textarea asp-for="Input.BusinessAddress" class="form-control" rows="2" id="RegistrationAddress"></textarea>
                                        <span asp-validation-for="Input.BusinessAddress" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.Locality"></label>
                                                <input type="text" asp-for="Input.Locality" class="form-control" />
                                                <span asp-validation-for="Input.Locality" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.PinCode"></label>
                                                <input asp-for="Input.PinCode" class="form-control" />
                                                <span asp-validation-for="Input.PinCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.Country"></label>
                                                <select asp-for="Input.Country" class="form-control form-control-lg" asp-items="@Html.GetEnumSelectList<Country>()"></select>
                                                <span asp-validation-for="Input.Country" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.Province"></label>
                                                <select asp-for="Input.Province" class="form-control form-control-lg" asp-items="@Html.GetEnumSelectList<StateProvince>()"></select>
                                                <span asp-validation-for="Input.Province" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.Location"></label>
                                                <select asp-for="Input.Location" class="form-control form-control-lg" asp-items="@Model.Locations">
                                                    <option value="@Guid.Empty">Select</option>
                                                </select>
                                                <span asp-validation-for="Input.Location" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.PhoneNumber"></label>
                                                <input asp-for="Input.PhoneNumber" class="form-control" id="RegistrationPhoneNumber" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.Password"></label>
                                                <input asp-for="Input.Password" class="form-control" id="RegistrationPassword" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 pt-3">
                                                <label asp-for="Input.ConfirmPassword"></label>
                                                <input asp-for="Input.ConfirmPassword" class="form-control" id="RegistrationConfirmationPassword" />
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="Input.Signature" id="InputSignature" />
                                    <input type="hidden" asp-for="Input.Signature64" id="InputSignature64" />
                                    <div class="form-group">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" id="IAgreeCheckbox" data-toggle="modal"> I Agree with the terms and conditions <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mt-3 mb-1">
                                        <button type="submit" id="register" disabled class="btn btn-primary btn-block">Register</button>
                                    </div>
                                    <div class="mt-3 mb-4 text-center">
                                        <p>
                                            Already have an account?<a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"> Login</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 overlay-welcome">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="myModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Terms and Condition</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body py-4">
                        <ul>
                            <li>Lorem Ipsum is simply dummy text of the <b class="modal-title">Locate Plate</b> printing and typesetting <b class="modal-title" id="BusnessDisclamer"></b>. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
                        </ul>
                        <h4>Signature:</h4>
                        <div id="signature" style="min-height:100px;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="CloseButton" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="IAccept" data-dismiss="modal">I Accept</button>
                    </div>
                </div>
            </div>
        </div>


        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/jSignature.min.js"></script>
        <script>
            $(document).ready(function () {
                var IsSignatureLoaded = false;
                //$("#IAgreeCheckbox").prop('disabled', true);
                //PreValidate();
                //$(document).change(function () {
                //    PreValidate();
                //});

                $("#IAgreeCheckbox").change(function () {
                    $(this).prop('checked', false);
                    if (IsSignatureLoaded == false) init();
                    var busnessName = $("#Input_BusinessName").val();
                    $("#BusnessDisclamer").text(busnessName);
                    $("#myModal").modal('show');
                });

                $("#IAccept").click(function () {
                    $("#myModal").modal('hide');
                    $("#IAgreeCheckbox").prop('checked', true);
                    $('#register').prop('disabled', false);
                });
                $("#CloseButton").click(function () {
                    $("#myModal").modal('hide');

                    // destroy();
                });
                function init() {
                    IsSignatureLoaded = false;
                    var $sigdiv = $("#signature");
                    $sigdiv.jSignature({ 'UndoButton': true });
                    $("#signature").resize();
                }
                function destroy() {
                    var $sigdiv = $("#signature");
                    $sigdiv.jSignature("reset");
                }

                $("#signature").bind('change', function (e) {
                    var base30 = $(this).jSignature("getData", "base30");
                    $("#InputSignature").val(base64);
                    var base64 = $(this).jSignature("getData", "image");
                    $("#InputSignature64").val(base64);
                    $('#register').prop('disabled', true);
                    /* 'e.target' will refer to div with "#signature" */
                })

                function PreValidate() {
                    var IsValidate = validate();
                    // alert(IsValidate);
                    if (IsValidate == true)
                        $("#IAgreeCheckbox").prop('disabled', false);
                    else
                        $("#IAgreeCheckbox").prop('disabled', true);
                }

                function validate() {
                    if ($("#RegistrationEmail").val() == '')
                        return false;
                    if ($("#RegistrationAddress").val() == '')
                        return false;
                    if ($("#RegistrationName").val() == '')
                        return false;
                    if ($("#RegistrationLocality").val() == '')
                        return false;
                    if ($("#RegistrationPhoneNumber").val() == '')
                        return false;
                    if ($("#RegistrationPassword").val() == '')
                        return false;
                    if ($("#RegistrationConfirmationPassword").val() == '')
                        return false;
                    if ($("#InputSignature").val() == '')
                        return false;
                    return true;
                }

                $("#Input_Province").on('change', function () {
                    debugger;
                    var countryId = $('#Input_Country').val();
                    var provinceId = $(this).val();
                    var regionsSelect = $('#Input_Location');
                    regionsSelect.empty();
                    $.ajax({
                        type: "GET",
                        url: `/api/v1/Location/GetCityByCountryProvince/${countryId}/${provinceId}`,
                        success: function (regions) {
                            if (regions != null && !jQuery.isEmptyObject(regions)) {
                                regionsSelect.append($('<option/>', {
                                    value: '00000000-0000-0000-0000-000000000000',
                                    text: "Select City"
                                }));
                                $.each(regions, function (index, region) {
                                    $('#Input_Location').append("<option value='" + region.id + "'>" + region.name + "</option>");
                                });
                            };
                        },
                        failure: function (response) {
                            alert(response);
                        }
                    });
                });

                var countryid = $('#Input_Country').val();
                var provinceid = $("#Input_Province").val();
                var regionsselect = $('#Input_Location');

                $.ajax({
                    type: "GET",
                    url: `/api/v1/Location/GetCityByCountryProvince/${countryid}/${provinceid}`,
                    success: function (regions) {
                        if (regions != null && !jQuery.isEmptyObject(regions)) {
                            $.each(regions, function (index, region) {
                                $('#Input_Location').append("<option value='" + region.id + "'>" + region.name + "</option>");
                            });
                        };
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            });
        </script>
    </div>
</body>
</html>