@model PaginatedList<Booking>

<div class="card">
    <div class="card-header card-header-rose card-header-text">
        <div class="card-head bg-primary">
            <h4 class="card-title-top text-white">
                All Order
            </h4>
        </div>
    </div>
    <div class="card-body px-5">
        @if (Model.Any())
        {
            <div class="card-body">
                <div class="py-4 scroll-div">
                    <div class="table-responsive border rounded scroll-div">
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th class="font-weight-bold"> Order Number</th>
                                    <th class="font-weight-bold"> Order By</th>
                                    <th class="font-weight-bold">Date </th>
                                    <th class="font-weight-bold"> Time </th>
                                    <th class="font-weight-bold"> Preorder Food</th>
                                    <th class="font-weight-bold"> Order Type </th>
                                    <th class="font-weight-bold"> Order Status </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.BillId
                                        </td>
                                        <td>
                                            @item.CreatedBy
                                        </td>
                                        <td>
                                            @item.Date.Date.ToLongDateString()
                                        </td>
                                        <td>
                                            @item.StartTime.ToLongTimeString()
                                        </td>
                                        <td>
                                            @(item.IsFoodOrder ? "Yes":"No")
                                        </td>
                                        <td>
                                            @*<p class="card-text">@(item.ReservationType ? "Reservation" : "Take Away")*@
                                            <p class="card-text">@(item.ReservationType ? "Take Away" : "Dine In")
                                        </td>
                                        @if (item.IsAccept)
                                        {
                                            <td class="success">
                                                Accepted
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="Danager">
                                                Rejected
                                            </td>
                                        }

                                        <td>
                                            @*<a asp-action="Create" asp-route-id="@item.Id">View Details</a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                @if (Model.TotalCount > 10)
                {
                    <div class="d-flex mt-4 flex-wrap">
                        <p class="text-muted">Showing 1 to 10 of @Model.TotalCount entries</p>
                        <nav class="ml-auto">
                            <ul class="pagination separated pagination-info">
                                @*@if (Model.HasPreviousPage )
                                    {
                                        <li class="page-item"><a asp-controller="Restaurant" asp-action="Index" asp-route-pageindex="@Convert.ToInt32(Model.PageIndex)-1" class="page-link"><i class="icon-arrow-right"></i></a></li>
                                    }*@
                                <li class="page-item"><a href="" class="page-link"><i class="icon-arrow-left"></i></a></li>
                                @for (var i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(i == Model.PageIndex)?'active':''"><a asp-action="AllOrders" asp-route-pageindex="@(i - 1)" class="page-link">@i</a></li>
                                }
                                @*@if (Model.HasNextPage)
                                    {
                                        <li class="page-item"><a asp-controller="Restaurant" asp-action="Index" asp-route-pageindex="@Convert.ToInt32(Model.PageIndex)+1" class="page-link"><i class="icon-arrow-right"></i></a></li>
                                    }*@
                            </ul>
                        </nav>
                    </div>
                }
            </div>
        }
    </div>
</div>