@model IEnumerable<Booking>
@*add by binal start*@
@*<meta http-equiv="refresh" content="10;url=/Admin/Confirmation/Index " />*@
@*add by binal end*@
<div class="card">
    <div class="card-header card-header-rose card-header-text">
        <div class="card-head bg-primary">
            <h4 class="card-title-top text-white">
                Pending Confirmation
            </h4>
        </div>
    </div>
    <div class="card-body">
        <div class="scroll-div">
            <div class="table-responsive border rounded scroll-div">
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th class="font-weight-bold">Date/Time</th>
                                <th class="font-weight-bold">Order Type</th>
                                <th class="font-weight-bold">Order Number</th>
                                <th class="font-weight-bold"> Actions </th>
                                <th class="font-weight-bold">Status</th>
                                <th class="font-weight-bold">View Details</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="bodyCapacity">
                            @if (Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    <p class="card-text">@item.Date.Date.ToLongDateString()</p>
                                    <p class="card-text">@item.StartTime.ToLongTimeString()</p>
                                </td>

                                <td>
                                    <p class="card-text">@(item.ReservationType?"Reservation":"Take Away")  </p>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BillId)
                                </td>

                                <td>
                                    <div class="card-footer bg-white border-0  p-0">
                                        <div class="row">
                                            <div class="col-md-6 col-6" asp-action="AcceptOrder" asp-controller="Confirmation" method="post">
                                                <input type="hidden" value="@item.Id" name="bookingId" />
                                                @if (item.IsAccept)
                                                {
                                                    <button style="display:none" class="btn btn-success text-uppercase" type="submit">Accepted</button>


                                                }
                                                else
                                                {
                                                    <button class="btn btn-success text-uppercase tablebtn mb-2" type="submit">Accept</button>

                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-6" asp-action="RejectOrder" asp-controller="Confirmation" method="post">
                                                <input type="hidden" value="@item.Id" name="bookingId" />
                                                @if (!item.IsAccept)
                                                {
                                                    <button class="btn btn-danger text-uppercase tablebtn" type="submit">Reject</button>
                                                }
                                                else
                                                {
                                                    <button style="background: #6fc8ef !important" class="btn btn-primary text-uppercase tablebtn" type="submit">Check Out</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    status
                                </td>
                                <td>
                                    <a class="btn-blue" data-toggle="modal" data-target="#myModalPending">View details</a>
                                </td>

                                <!-- The Modal -->
                                <div class="modal fade" id="myModalPending">
                                    <div class="modal-dialog">
                                        <div class="modal-content bg-white">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Pending Action</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                                    <div class="p-3 box-shadow">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-4 col-4">
                                                                        <h5 class="">Order Number</h5>
                                                                    </div>
                                                                    <div class="col-md-8 col-8">
                                                                        <p>@item.BillId</p>
                                                                    </div>
                                                                    <div class="col-md-4 col-4">
                                                                        <h5 class="">Order</h5>
                                                                    </div>
                                                                    <div class="col-md-8 col-8">
                                                                        <p class="card-text">@(item.ReservationType?"Reservation":"Take Away")  </p>
                                                                    </div>
                                                                    <div class="col-md-4 col-4">
                                                                        <h5 class="">Order By</h5>
                                                                    </div>
                                                                    <div class="col-md-8 col-8">
                                                                        <p class="card-text">@item.CreatedBy</p>
                                                                    </div>
                                                                    <div class="col-md-4 col-4">
                                                                        <h5 class="">Date</h5>
                                                                    </div>
                                                                    <div class="col-md-8 col-8">
                                                                        <p class="card-text">@item.Date.Date.ToLongDateString()</p>
                                                                    </div>
                                                                    <div class="col-md-4 col-4">
                                                                        <h5 class="">Time</h5>
                                                                    </div>
                                                                    <div class="col-md-8 col-8">
                                                                        <p class="card-text">@item.StartTime.ToLongTimeString()</p>
                                                                    </div>
                                                                    @if (item.PartySize > 0)
                                                                    {
                                                                        <div class="col-md-4 col-4">
                                                                            <h5 class="">Table for </h5>
                                                                        </div>
                                                                        <div class="col-md-8 col-8">
                                                                            <p class="card-text">@item.PartySize Guest</p>
                                                                        </div>
                                                                    }
                                                                    @if (item.TotalTax > 0)
                                                                    {
                                                                        <div class="col-md-4 col-4">
                                                                            <h5 class="">Total Tax</h5>
                                                                        </div>
                                                                        <div class="col-md-8 col-8">
                                                                            <p class="card-text">$@Math.Round(item.TotalTax, 2)</p>
                                                                        </div>
                                                                    }
                                                                    @if (item.SubTotal > 0)
                                                                    {
                                                                        <div class="col-md-4 col-4">
                                                                            <h5 class="">Sub Total</h5>
                                                                        </div>
                                                                        <div class="col-md-8 col-8">
                                                                            <p class="card-text">$@Math.Round(item.SubTotal, 2)</p>
                                                                        </div>
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(item.PromoCode))
                                                                    {
                                                                        <div class="col-md-4 col-4">
                                                                            <h5 class="">Promo Code</h5>
                                                                        </div>
                                                                        <div class="col-md-8 col-8">
                                                                            <p class="card-text">@item.PromoCode</p>
                                                                        </div>
                                                                    }
                                                                    @if (item.Discount > 0)
                                                                    {
                                                                        <div class="col-md-4 col-4">
                                                                            <h5 class="">Discount</h5>
                                                                        </div>
                                                                        <div class="col-md-8 col-8">
                                                                            <p class="card-text">$@Math.Round(item.Discount, 2)</p>
                                                                        </div>
                                                                    }
                                                                    @if (item.TotalPrice > 0)
                                                                    {
                                                                        <div class="col-md-4 col-4">
                                                                            <h5 class="">Total Amount</h5>
                                                                        </div>
                                                                        <div class="col-md-8 col-8">
                                                                            <p class="card-text">$@Math.Round(item.TotalPrice, 2)</p>
                                                                        </div>
                                                                    }

                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div class="row">

                                                                    <div class="col-md-4 col-4">
                                                                        <h5>Order placed on</h5>
                                                                    </div>
                                                                    <div class="col-md-8 col-8">
                                                                        <p>@item.CreatedDate</p>
                                                                    </div>
                                                                    @if (item?.MenuItems != null && item.MenuItems.Count > 0)
                                                                    {
                                                                        <div class="col-md-4 col-4">
                                                                            <h5 class="">Items</h5>
                                                                        </div>
                                                                        @foreach (var menuItem in item.MenuItems)
                                                                        {
                                                                            <div class="col-md-8 col-8">
                                                                                <p class="mb-0">$@(menuItem.Price) x @(menuItem.Quantity) (@(menuItem.Name))</p>
                                                                            </div>
                                                                        }

                                                                    }


                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer bg-white border-0 mt-2 p-0">
                                                            <div class="row">
                                                                <form class="col-md-2 col-6" asp-action="AcceptOrder" asp-controller="Confirmation" method="post">
                                                                    <input type="hidden" value="@item.Id" name="bookingId" />
                                                                    @if (item.IsAccept)
                                                                    {
                                                                        <button style="display:none" class="btn btn-success text-uppercase" type="submit">Accepted</button>


                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="btn btn-success text-uppercase" type="submit">Accept</button>

                                                                    }

                                                                </form>
                                                                <form class="col-md-12 col-6" asp-action="RejectOrder" asp-controller="Confirmation" method="post">
                                                                    <input type="hidden" value="@item.Id" name="bookingId" />
                                                                    @if (!item.IsAccept)
                                                                    {
                                                                        <button class="btn btn-danger text-uppercase" type="submit">Reject</button>
                                                                    }

                                                                    else
                                                                    {
                                                                        <button style="background: #6fc8ef !important" class="btn btn-primary text-uppercase mx-auto d-block" type="submit">Check Out</button>
                                                                    }
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                              
                                        </div>
                                    </div>
                                </div>

                            </tr>

                                }
                            }

                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>


