@model LocatePlate.Model.Identity.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href='~/css/home-style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css" />
  
</head>
<body class="bg-auth col-12">
    <div class="login-page col-12">
        <form id="login-data-form col-12" asp-controller="/account" asp-action="login" method="post">
            <h2 class="text-center text-dark bold-600 py-3">
                Sign in to Locate Plate
            </h2>
            <div id="LoginBox" class="px-3 pb-2">
                <input type="hidden" name="ReturnUrl" class="returnurl">
                @Html.AntiForgeryToken()
                @if (ViewBag.StatusMessage != null)
                {
                    <div class="success-msg px-3 py-2">
                        <h3 class="mb-0 text-success">@ViewBag.StatusMessage</h3>
                    </div>

                }
                <div asp-validation-summary="ModelOnly" class="text-danger error-msg py-2"></div>
                <div class="modal-body pb-0">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="model.Email" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group mb-0">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control mb-2" data-val="true" data-val-length="The Password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" maxlength="100" name="model.Password">
                        <a href="/identity/Account/forgotpassword" class="d-block text-right">Forgot Password?</a>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="model.RememberMe" value="true"> Remember me?<i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div>
                @*<input type="hidden" name="model.ReturnUrl" value="@Model.ReturnUrl" />*@
                <div class="modal-footer justify-content-center border-top-0 mb-2 px-4 flex-column">
                    <button type="submit" class="btn text-white btn-primary font-weight-bold btn-block mb-2 p-2 login-btn" id="loginbutton">Login</button>
                    <div class="font-14 mt-1">New to Locate Plate? <span class="text-primary signuptext cursor-pointer"><a href="@Url.Action("register", "/Account")">Sign up here</a></span></div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/jquery.picEyes.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/home-custom.js"></script>
    <script src="~/js/ClientSide.js"></script>


</body>
</html>
@*<form id="login-data-form" asp-controller="/account" asp-action="login" method="post">
        @Html.AntiForgeryToken()
        <div id="LoginBox" class="p-2">
            <div class="modal-body pb-0">
                <input type="hidden" value="@Model.ReturnUrl" name="ReturnUrl" class="returnurl" />
                <div asp-validation-summary="ModelOnly" id="login-data-form-Summary" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="text" class="form-control" />
                    <i class="fa fa-envelope signup-icon text-primary"></i>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <i class="fa fa-lock signup-icon font-20 text-primary" aria-hidden="true"></i>
                    <a href="">Forgot Password?</a>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="RememberMe"> @Html.DisplayNameFor(m => m.RememberMe)<i class="input-helper"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center border-top-0 mb-2 px-4 flex-column">
                <button type="submit" class="btn text-white bg-primary font-weight-bold btn-block mb-2 p-2 login-btn" id="loginbutton">Login</button>
                <div class="font-16">New to Locate Plate? <span class="text-primary signuptext cursor-pointer">Sign up here</span></div>
            </div>
        </div>
    </form>*@


