@using Microsoft.AspNetCore.Http
@inject LocatePlate.Service.Bookings.IBookingService _bookingService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor contextAccessor
@{
    var RestaurantId = Convert.ToInt32(contextAccessor.HttpContext.Session.GetString(LocatePlate.Infrastructure.Constant.SessionContants.RestaurantId));
    var pendingCount = _bookingService.GetAllPendingBookingsByRestaurantCount(RestaurantId);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/website/LocatePlate_Logo.png" type="image/x-icon">
    <title>@ViewData["Title"] - AdminRestauant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css" />
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/jquery-weekdays.css" />
    <link rel="stylesheet" href="~/font/font-fileuploader.css" />
    <link rel="stylesheet" href="~/css/jquery.fileuploader.min.css" />
    <link rel="stylesheet" href="~/css/Dashboard.css" />
    <!-- End layout styles -->
    @*<link rel="shortcut icon" href="~/images/favicon.png" />*@

    @*@Html.Raw(JavaScriptSnippet.FullScript)*@
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <div class="page-body-wrapper col-lg-12 col-12 d-flex flex-row">
            <nav class="sidebar" id="sidebarVisible">
                <div class="overlay position-absolute"></div>
                <div class="text-center pt-4 pb-3 position-relative" style="z-index: 2;border-bottom: 1px solid rgba(255, 255, 255, 0.11)">
                    <a class="navbar-brand font-weight-bold text-primary" href="/">
                        <img src="~/images/website/Transparent.png" class="logoimg" />
                    </a>
                </div>
                <ul class="nav overlay-2 my-4">
                    @if (pendingCount >= 0)
                    {
                    <li class="nav-item nav-category"><a href="/Admin/Confirmation/Index" class="nav-link p-12 w-100 text-white"><i class="fa fa-bell text-white font-16px mr-4" aria-hidden="true"></i> Pending Action (@pendingCount)</a></li>
                    }
                    <li class="nav-item nav-category"><a href="/Admin/Confirmation/AllOrders" class="nav-link p-12 w-100 text-white"><i class="fa fa-cart-arrow-down text-white font-16px mr-4" aria-hidden="true"></i> All order</a></li>
                    <li class="nav-item nav-category d-flex align-items-center"><a href="/Admin/Dashboard" class="nav-link p-12 w-100 text-white"><i class="icon-home text-white font-16px mr-4"></i>Dashboard</a></li>
                    <li class="nav-item nav-category"><a href="/Admin/Restaurant" class="nav-link w-100 text-white"><i class="icon-cup text-white font-16px mr-4"></i>Restaurant</a></li>
                    <li class="nav-item nav-category"><a href="/Admin/Capacity" class="nav-link w-100 text-white"><i class="icon-drawer text-white font-16px mr-4"></i>Capacity</a></li>
                    <li class="nav-item nav-category"><a href="/Admin/Category" class="nav-link w-100 text-white"><i class="icon-list text-white font-16px mr-4"></i>Menu Category</a></li>
                    <li class="nav-item nav-category"><a href="/Admin/Menu" class="nav-link w-100 text-white"><i class="icon-film text-white font-16px mr-4"></i>Menu</a></li>
                    <li class="nav-item nav-category"><a href="/Admin/Timing" class="nav-link w-100 text-white"><i class="icon-clock text-white font-16px mr-4"></i>Timing</a></li>
                    <li class="nav-item nav-category"><a href="/Admin/Discount" class="nav-link w-100 text-white"><i class="icon-speech text-white font-16px mr-4"></i>Discount</a></li>
                </ul>
            </nav>
            <div class="main-panel d-flex align-items-center flex-grow-1">
                <div class="bg-white w-100 mb-4">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white container-fluid">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <div class="align-items-center justify-content-between desktop-nav">
                                <div>
                                    <partial name="_RestaurantList" />
                                </div>
                                <div>
                                    <partial name="_LoginPartial" />
                                </div>
                            </div>
                            <div class="justify-content-between align-items-center h-62px mobile-nav">
                                <div class="font-weight-bold text-primary">@User.Identity.Name</div>
                                <div class="col-md-2">
                                    <div><i class="fa fa-bell bel-icon" aria-hidden="true"></i></div>
                                    <div class="qty">0</div>
                                </div>
                                <div class="button-position">
                                    <button id="toggleButton" type="button">
                                        <span class="navbar-toggler-icon">
                                            <i class="fa fa-bars font-20px text-primary"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        

                        <div id="sidebarHidden">
                            <div class="sidebar sidebar-offcanvas mr-3 w-0">
                                <div class="overlay position-absolute"></div>
                                <div class="text-left pl-5 pt-3 pb-2 position-relative" style="z-index: 2;border-bottom: 1px solid rgba(255, 255, 255, 0.11)">
                                    <a class="navbar-brand font-weight-bold text-primary w-50 mr-4" href="/">
                                        <img src="~/images/website/Transparent.png" class="logoimg" />
                                    </a>
                                </div>
                                <ul class="nav overlay-2 my-4">
                                    @if (pendingCount >= 0)
                                    {
                                    <li class="nav-item nav-category"><a href="/Admin/Confirmation/Index" class="nav-link p-12 w-100 text-white"><i class="fa fa-bell text-white font-16px mr-4" aria-hidden="true"></i> Pending Action (@pendingCount)</a></li>
                                    }
                                    <li class="nav-item nav-category"><a href="/Admin/Confirmation/AllOrders" class="nav-link p-12 w-100 text-white"><i class="fa fa-cart-arrow-down text-white font-16px mr-4" aria-hidden="true"></i> All order</a></li>
                                    <li class="nav-item nav-category d-flex align-items-center"><a href="/Admin/Dashboard" class="nav-link p-12 w-100 text-white"><i class="icon-home text-white font-16px mr-4"></i>Dashboard</a></li>
                                    <li class="nav-item nav-category"><a href="/Admin/Restaurant" class="nav-link w-100 text-white"><i class="icon-cup text-white font-16px mr-4"></i>Restaurant</a></li>
                                    <li class="nav-item nav-category"><a href="/Admin/Capacity" class="nav-link w-100 text-white"><i class="icon-drawer text-white font-16px mr-4"></i>Capacity</a></li>
                                    <li class="nav-item nav-category"><a href="/Admin/Category" class="nav-link w-100 text-white"><i class="icon-list text-white font-16px mr-4"></i>Menu Category</a></li>
                                    <li class="nav-item nav-category"><a href="/Admin/Menu" class="nav-link w-100 text-white"><i class="icon-film text-white font-16px mr-4"></i>Menu</a></li>
                                    <li class="nav-item nav-category"><a href="/Admin/Timing" class="nav-link w-100 text-white"><i class="icon-clock text-white font-16px mr-4"></i>Timing</a></li>
                                    <li class="nav-item nav-category"><a href="/Admin/Discount" class="nav-link w-100 text-white"><i class="icon-speech text-white font-16px mr-4"></i>Discount</a></li>
                                    <li class="nav-item nav-category">
                                        <div class="nav-link">
                                            <i class="icon-speech text-white mr-3"></i>
                                            <form data-ajax="true" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Dashboard", new { area = "" })">
                                                <button type="submit" class="nav-link btn btn-link font-16px text-white border-0">Logout</button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="content-wrapper container-fluid my-5">
                    <div class="row">
                        <div class="col-md-3" id="mobile-col-3">
                        </div>
                        <div class="col-md-9 grid-margin stretch-card pb-5 pl-0" id="mobile-col-9">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/vendors/moment/moment.min.js"></script>
    <script src="~/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    @*<script src="~/js/dashboard.js"></script>*@
    <!-- End custom js for this page -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.fileuploader.min.js"></script>
    @* <script src="~/js/jquery-weekdays.js"></script>*@
    <script src="~/js/custom.js"></script>
    <script src="~/js/ClientSide.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
