@model LocatePlate.Model.Cms.Modules.Deals.DealModule
@inject LocatePlate.Infrastructure.Domain.IClientSide clientSide

@{
    var lcoaldate = clientSide?.ClientInfo == null ? DateTime.UtcNow : TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, clientSide.ClientInfo);
    var queryDate = lcoaldate.Date.ToString("MMM dd,yyyy");
}
@if (Model.IsVertical)
{
    <section class="container my-5 position-relative">
        <div class="swiper-2">
            <div class="pb-3">
                <h1 class="mobile-heading">@Model.Name</h1>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var deal in Model.Deals.OrderBy(c => c.Order))
                    {
                        <div class="swiper-slide"><a href="/restaurants/search/?Location=@Model.CityUrl&Query=&Deals=@deal.Url&Tags=&PageNumber=1&RowsOfPage=10&SortingCol=&SortType=0&Guest=0&Date=@queryDate&Area=-1"><img src="@deal.Images" alt="First slide" class="border-radius-4"></a></div>
                    }
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <ul class="best-offer-section pl-0">
                @foreach (var deal in Model.Deals.OrderBy(c => c.Order))
                {
                    <li><a href="/restaurants/search/?Location=@Model.CityUrl&Query=&Deals=@deal.Url&Tags=&PageNumber=1&RowsOfPage=10&SortingCol=&SortType=0&Guest=0&Date=@queryDate&Area=-1"><img src="@deal.Images" alt="First slide" class="border-radius-4"></a></li>
                }
            </ul>
        </div>
    </section>
}
else
{
    <section class="container my-5  position-relative">
        <div class="best-deals-section">
            <div class="pb-3">
                <h1 class="mobile-heading">@Model.Name</h1>
            </div>
            <ul class="w-100 d-flex flex-wrap best-deal-header pl-0">

                @foreach (var deal in Model.Deals.OrderBy(c => c.Order))
                {
                    <li class='flex-box border-radius-4'>
                        <a href='/restaurants/search/?Location=@Model.CityUrl&Query=&Deals=@deal.Url&Tags=&PageNumber=1&RowsOfPage=10&SortingCol=&SortType=0&Guest=0&Date=@queryDate&Area=-1'>
                            <div class='d-flex'>
                                <div class='best-deals-img'>
                                    <img src='@deal.Images' />
                                </div>
                                <div class='padding-10 best-deals-text'>
                                    <h3 class='font-16 mb-0 bold-600 text-dark'>@deal.Name</h3>
                                    <p class='mobile-hide my-2 text-dark'>@deal.Description</p>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </section>
}