@model Restaurant
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor contextAccessor

@{
    Layout = null;
}
<div class="col-md-3 desktop-detail-page">
    <form class="reserve-section bg-outline-primary border-radius-4" id="reservation-form" asp-controller="Home" asp-action="OrderValidation" method="post">
        <input type="hidden" value="0" id="ReservationType" name="ReservationType" />
        <div class="border-radius-4 reservation-group text-center">
            <h2 class="bg-primary text-white py-2 font-16">Place an order</h2>
            <div class="form-group mb-0 px-3 py-2">
                <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                    <label class="btn btn-outline-primary btn-toggle font-14 order-type active" id="Dine-In">
                        <input type="radio" name="button"
                               id="button1" autocomplete="off"
                               checked> Dine In
                    </label>

                    <label class="btn btn-outline-primary btn-toggle  font-14 order-type" id="Take-Away">
                        <input type="radio" name="button"
                               id="button2" autocomplete="off">
                        Takeaway
                    </label>
                </div>
            </div>
            <div class="p-3">
                <div class="form-group">
                    <input type="text" id="slotdate" name="Date" class="form-control font-14 text-dark datepicker border-radius-0" />
                    <i class="fa fa-chevron-down text-dark left-icon"></i>
                    <i class="fa fa-calendar text-dark right-icon"></i>
                </div>
                <input type="hidden" value="@Model.Name" name="ReservationModel.RestaurantName" />
                <div class="form-group" id="party-section">
                    <select asp-items="@ViewBag.Party" id="partysize" name="PartySize" class="form-control party-size font-14 text-dark border-radius-0">
                    </select>
                    <i class="icon-people text-dark right-icon"></i>
                </div>
                <div class="form-group">
                    <select asp-items="@ViewBag.Slots" name="StartTime" id="slots" class="form-control font-14 text-dark border-radius-0"> </select>
                    <i class="fa fa-clock-o text-dark right-icon"></i>
                </div>
                <input id="currentrestaurant" type="hidden" name="RestaurantId" value="@Model.Id" />
                <div id="order-contianer">
                    @await Html.PartialAsync("_Order", Model.ReservationModel)
                </div>
                @if (User?.Identity?.Name == null)
                {
                    <button type="button" class="btn btn-primary btn-block font-weight-bold" data-redirect="@Url.Action("Index", "Account")?returnurl=@(contextAccessor.HttpContext.Request.Path)" id="BookTable">Book</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary btn-block font-weight-bold" data-toggle="modal" data-target="#SignupModel" id="BookTable">Book</button>
                }
            </div>
        </div>
    </form>
</div>
