@model LocatePlate.Model.Search.SearchRecords

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<section class="RestaurantFilterPage">
    <div class="section-bgimage position-relative">
        <div class="overlay overlay-top"></div>
        <div class="search-panel text-center overlay-2 container py-5">
            <h1 class="text-white">Restaurants in @Model.CityName </h1>
            <div class="mb-0 text-white"> @Model.SearchResults.FirstOrDefault()?.AllCount Restaurants</div>
        </div>
    </div>
    @*@await Html.PartialAsync("_SearchSectionPartial", new LocatePlate.Model.Cms.Modules.SearchHeader.SearchButtonsModule())*@
</section>
<section class="my-5 RestaurantFilterSection">
    <div class="container">
        <form class="filter-page-box-shadow-style">
            <div class="row">
                <div class="col-md-3 filter-shadow">
                    <div class="filter-div-head py-3">
                        <div class="search-filter">
                            <div class="card border-top-0">
                                <div class="card-header text-dark0 px-1 d-flex align-items-center justify-content-between">
                                    Filters
                                    <a class="card-link float-right" data-toggle="collapse" href="#collapseOne">
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show">
                                    <div class="card-body px-1">
                                        <div class="form-group mb-2">
                                            <input type="text" id="search-query-date" class="form-control font-14 datepicker border-radius-0" />
                                        </div>
                                        <div class="form-group mb-2">
                                            <select class="form-control font-14 border-radius-0" id="search-query-guest">
                                                <option value="0" selected>Party Size</option>
                                                <option value="1">1 Guest</option>
                                                <option value="2">2 Guests</option>
                                                <option value="3">3 Guests</option>
                                                <option value="4">4 Guests</option>
                                                <option value="5">5 Guests</option>
                                                <option value="6">6 Guests</option>
                                                <option value="7">7 Guests</option>
                                                <option value="8">8 Guests</option>
                                                <option value="9">9 Guests</option>
                                                <option value="10">10 Guests</option>
                                                <option value="11">10 + Guests</option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-2">
                                            <select class="form-control font-14 border-radius-0" id="search-query-seating">
                                                <option value="-1" selected>Seating Area</option>
                                                @foreach (var item in Enum.GetValues(typeof(Area)))
                                                {
                                                    <option value="@((int)item)">@item</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cuisines-filter">
                            <div class="card">
                                <div class="card-header text-dark px-1 d-flex align-items-center justify-content-between">
                                    Cuisines
                                    <a class="card-link float-right" data-toggle="collapse" href="#collapseTwo">
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse show">
                                    <div class="card-body px-1">
                                        @foreach (var item in ViewBag.Cuisine)
                                        {
                                            <div class="form-check d-flex align-items-center">
                                                <input class="form-check-input filter-item" data-type="Cuisine" data-value="@item.Name" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label text-capitalize" for="flexCheckChecked">
                                                    @item.Name
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-filter">
                            <div class="card">
                                <div class="card-header text-dark px-1 d-flex align-items-center justify-content-between">
                                    Retaurant Type
                                    <a class="card-link float-right" data-toggle="collapse" href="#collapseThree">
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse show">
                                    <div class="card-body px-1">
                                        @foreach (var item in ViewBag.RestaurantType)
                                        {
                                            <div class="form-check d-flex align-items-center">
                                                <input class="form-check-input filter-item" data-type="RestaurantType" data-value="@item.Name" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label text-capitalize" for="flexCheckChecked">
                                                    @item.Name
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="MealType-filter">
                                <div class="card">
                                    <div class="card-header text-dark">
                                        Meal Type
                                        <a class="card-link float-right" data-toggle="collapse" href="#collapseThree">
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse show">
                                        <div class="card-body">
                                            @foreach (var item in ViewBag.MealType)
                                            {
                                                <div class="form-check">
                                                    <input class="form-check-input filter-item" data-type="MealType" data-value="@item.Name" type="checkbox" value="" id="flexCheckChecked">
                                                    <label class="form-check-label text-capitalize" for="flexCheckChecked">
                                                        @item.Name
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        <div class="MealType-filter">
                            <div class="card">
                                <div class="card-header text-dark d-flex align-items-center justify-content-between px-1">
                                    Food Type
                                    <a class="card-link float-right" data-toggle="collapse" href="#collapseFour">
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse show">
                                    <div class="card-body px-1">
                                        @foreach (var item in ViewBag.FoodNature)
                                        {
                                            <div class="form-check d-flex align-items-center">
                                                <input class="form-check-input filter-item" data-type="FoodNature" data-value="@item.Name" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label text-capitalize" for="flexCheckChecked">
                                                    @item.Name
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-filter-done p-3 bg-white">
                            <button class="btn btn-block bg-primary text-white py-2 font-weight-bold font-20" type="button">
                                Done
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="filter-all-result filter-shadow p-4">
                        <!--<div class="border-bottom pb-3 rest-filter-name-div">-->
                        @*<div class="filter-result-heading  pb-2">
                                <h1 class="font-16 bold-600 pr-2 mb-0 text-dark">Restaurants in @Model.CityName </h1>
                            </div>*@
                        @*          <div class="restaurants-results font-12 text-grey">
                                @Model.SearchResults.FirstOrDefault()?.AllCount Restaurants
                            </div>*@
                        <!--</div>-->
                        <div class="px-12 my-3 mobile-filter">
                            <button type="button" class="btn text-grey btn-block border-0 font-weight-bold" id="btnFilterMobile">
                                <i class="fa fa-filter left-icon-filter text-grey" aria-hidden="true"></i>
                                <i class="fa fa-caret-right right-icon-filter text-grey" aria-hidden="true"></i>Tap here to filter results...
                            </button>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-3 px-12 filter-result-div">
                            <div class="tag-container flex-wrap align-items-center bold-600" id="tokens">
                            </div>
                            <div class="input-group align-items-baseline sortby-div ml-auto">
                                <select class="form-control font-14 sort-col border-radius-0" asp-items="Html.GetEnumSelectList<LocatePlate.Model.Search.SortColumn>()"></select>
                            </div>
                        </div>
                        <div class="all-restaurants-card" id="restaurant-filter-partial">
                            @if (Model?.SearchResults != null)
                            {
                                @await Html.PartialAsync("_RestaurantsFilterPartial", Model.SearchResults)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
@section Scripts {
    <script src="~/js/filter.js"></script>
}
