@model LocatePlate.Model.Cms.Modules.Deals.DealModule
@{ var thispartial = System.Guid.NewGuid();}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" name="@Convert.ToString(ViewBag.prefix)Name" value="@Model.Name" type="text" />
            <span class="text-danger"></span>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input ml-1" asp-for="IsVertical" name="@Convert.ToString(ViewBag.prefix)IsVertical">
            <label class="form-check-label">IsVertical</label>
            <span class="text-danger"></span>
        </div>
        <div class="text-right">
            <button href="" class="btn btn-primary px-3 py-2 cursor-pointer font-14px" id="@Convert.ToString(thispartial)addDeals">Add Deal</button>
        </div>
        <div id="@Convert.ToString(thispartial)DealsContainer">
            @if (Model?.Deals != null)
            {
                foreach (var d in Model.Deals.Select((value, i) => new { i, value }))
                {
                    ViewBag.DealCount = d.i;
                    ViewBag.InnerPrefix = $"{ViewBag.prefix}Deals[{d.i}].";
                    var item = d.value;
                    <h5 class=" text-black mb-4"> Deal @ViewBag.DealCount</h5>
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" value="@item.Name" name="@Convert.ToString(ViewBag.InnerPrefix)Name" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input class="form-control" value="@item.Description" name="@Convert.ToString(ViewBag.InnerPrefix)Description" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Image</label>
                        <input class="form-control file-change" name="@Convert.ToString(ViewBag.InnerPrefix)Image" type="file" />
                        <input class="form-control" value="@item.Images" asp-for="@Model.Deals[d.i].Images" name="@Convert.ToString(ViewBag.InnerPrefix)Images" type="hidden" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Url</label>
                        <input class="form-control" value="@item.Url" name="@Convert.ToString(ViewBag.InnerPrefix)Url" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Percentage</label>
                        <input class="form-control" value="@item.Percentage" name="@Convert.ToString(ViewBag.InnerPrefix)Percentage" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Price</label>
                        <input class="form-control" value="@item.Price" name="@Convert.ToString(ViewBag.InnerPrefix)Price" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Minimum Price</label>
                        <input class="form-control" value="@item.MinimumPrice" name="@Convert.ToString(ViewBag.InnerPrefix)MinimumPrice" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Valid From</label>
                        <input class="form-control" type="datetime" value="@item.ValidFrom" name="@Convert.ToString(ViewBag.InnerPrefix)ValidFrom" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Valid To</label>
                        <input class="form-control" type="datetime" value="@item.ValidTo" name="@Convert.ToString(ViewBag.InnerPrefix)ValidTo" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Order</label>
                        <input class="form-control" value="@item.Order" name="@Convert.ToString(ViewBag.InnerPrefix)Order" type="text" />
                    </div>
                }
            }
        </div>
        <input type="hidden" asp-for="PageId" name="@Convert.ToString(ViewBag.prefix)PageId" />
        <input type="hidden" asp-for="SectionId" name="@Convert.ToString(ViewBag.prefix)SectionId" />
        <input type="hidden" asp-for="Markup" name="@Convert.ToString(ViewBag.prefix)Markup" />
    </div>
</div>

<div hidden id="@Convert.ToString(thispartial)Import"></div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {
        var count = 0;
        $("#@Convert.ToString(thispartial)addDeals").click(function () {
            $('#@Convert.ToString(thispartial)Import').load(`/Cms/Page/Deals/@Convert.ToString(ViewBag.prefix)/${count}`, function () {
                var markup = $('#@Convert.ToString(thispartial)Import').html();
                $('#@Convert.ToString(thispartial)Import').html("");
                $('#@Convert.ToString(thispartial)DealsContainer').append(markup);
                $('.file-change').on('change', function () {
                    console.log($(this));
                    var name = $(this).attr("name");
                    $(`#${name}s`).val($(this).files[0].name);
                });
                count++;
            });
        });
    });
</script>
