
@model PaginatedList<Restaurant>


    <div class="py-4 scroll-div">
        <div class="table-responsive border rounded scroll-div">
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th class="font-weight-bold"> @Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
                        <th class="font-weight-bold"> @Html.DisplayNameFor(model => model.FirstOrDefault().About)</th>
                        <th class="font-weight-bold"> @Html.DisplayNameFor(model => model.FirstOrDefault().FullAddress)</th>
                        <th class="font-weight-bold">Add Resturant </th>

                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @item.Name.Truncate(30)
                        </td>
                        <td>
                            @item.About.Truncate(30)
                        </td>
                        <td>
                            @item.FullAddress.Truncate(30)
                        </td>
                        <td>
                            <input type="button" value="Add" class="addrestauranttobucket btn btn-danger px-3 py-2" data-id="@item.Id" data-restaurant-name="@item.Name.Truncate(30)" />
                        </td>
                    </tr>
                        <partial name="_DeleteModalPartial" />
                    }
                </tbody>
            </table>
        </div>

    @if (Model.TotalCount > 10)
    {
        <div class="d-flex mt-4 flex-wrap">
            <p class="text-muted">Showing 1 to 10 of @Model.TotalCount entries</p>
            <nav class="ml-auto">
                <ul class="pagination separated pagination-info">
                    @*@if (Model.HasPreviousPage )
                        {
                            <li class="page-item"><a asp-controller="Restaurant" asp-action="Index" asp-route-pageindex="@Convert.ToInt32(Model.PageIndex)-1" class="page-link"><i class="icon-arrow-right"></i></a></li>
                        }*@
                    <li class="page-item"><a href="" class="page-link"><i class="icon-arrow-left"></i></a></li>
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageIndex)?'active':''"><a data-page-index="@(i-1)" data-page-size="10" class="page-link paging-restaurant">@i</a></li>
                    }
                    @*@if (Model.HasNextPage)
                        {
                            <li class="page-item"><a asp-controller="Restaurant" asp-action="Index" asp-route-pageindex="@Convert.ToInt32(Model.PageIndex)+1" class="page-link"><i class="icon-arrow-right"></i></a></li>
                        }*@
                </ul>
            </nav>
        </div>
    }
</div>