@model LocatePlate.Model.Cms.Modules.SearchHeader.SearchButtonsModule

@{ var thispartial = System.Guid.NewGuid();}

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PageId" name="@Convert.ToString(ViewBag.prefix)PageId" />
        <input type="hidden" asp-for="SectionId" name="@Convert.ToString(ViewBag.prefix)SectionId" />
        <input type="hidden" asp-for="Markup" name="@Convert.ToString(ViewBag.prefix)Markup" />
                <div class="form-group">
                    <div class="text-right">
                        <div class="btn btn-primary text-white px-3 py-2 cursor-pointer font-14px" id="@Convert.ToString(thispartial)addButton">Add Buttons</div>
                    </div>
                </div>
        <div id="@Convert.ToString(thispartial)buttonContainer">
            @{ UInt16 localCount = 0;}
            @if (Model?.Buttons != null)
            {
                foreach (var item in Model.Buttons)
                {
                    ViewBag.ButtonCount = localCount;
                    ViewBag.InnerPrefix = $"{ViewBag.prefix}Buttons[{localCount}].";
                    <h5 class="text-black mb-4"> Button @ViewBag.ButtonCount</h5>
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" value="@item.Name" name="@Convert.ToString(ViewBag.InnerPrefix)Name" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Keyword</label>
                        <input class="form-control" value="@item.Keyword" name="@Convert.ToString(ViewBag.InnerPrefix)Keyword" type="text" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Order</label>
                        <input class="form-control" value="@item.Order" name="@Convert.ToString(ViewBag.InnerPrefix)Order" type="text" />
                        <span class="text-danger"></span>
                    </div>
                    localCount++;
                }
            }
        </div>
    </div>
</div>
<div hidden id="@Convert.ToString(thispartial)Import"></div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
     $(document).ready(function () {
        var count = 0;
        $("#@Convert.ToString(thispartial)addButton").click(function () {
            $('#@Convert.ToString(thispartial)Import').load(`/Cms/Page/SearchButton/@Convert.ToString(ViewBag.prefix)/${count}`, function () {
                var markup = $('#@Convert.ToString(thispartial)Import').html();
                $('#@Convert.ToString(thispartial)Import').html("");
                $('#@Convert.ToString(thispartial)buttonContainer').append(markup);
                //$('.file-change').on('change', function () {
                //    console.log($(this));
                //    var name = $(this).attr("name");
                //    $(`#${name}s`).val($(this).files[0].name);
                //});
                count++;
            });
        });
    });
</script>

