@model IEnumerable<MenuCategory>

@{
    ViewData["Title"] = "Menu Category";
}
<div class="card">
    <div class="card-header card-header-rose card-header-text">
        <div class="card-head bg-primary">
            <h4 class="card-title-top text-white">
                Menu Category
            </h4>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Count() > 0)
        {
            <div class="py-4 scroll-div">
                <div class="table-responsive border rounded scroll-div">
                    <form data-ajax="true" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th class="font-weight-bold"> @Html.DisplayNameFor(model => model.Name)</th>
                                    <th class="font-weight-bold"> Actions </th>
                                </tr>
                            </thead>
                            <tbody class="text-center" id="bodyCapacity">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <a asp-action="Create" asp-route-id="@item.Id"><img src="~/images/edit.png" class="mr-2" /></a>
                                            <a data-toggle="modal" data-target="#modalDelete" class="cursor-pointer delete-record" asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/trash.png" class="mr-2" /> </a>
                                        </td>
                                    </tr>

                                    <div id="modalDelete" class="modal fade" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content bg-white">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" class="font-30">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                 This action will delete all the menu items associated with this category.Are you sure you want to delete ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <a class="btn btn-primary delete-button-record" asp-action="Delete">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <tr>
                                    <td>
                                        <input type="text" placeholder="Category" name="Name" class="form-control text-center" required />
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="submit">Add</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

        }
        else
        {

            <div class="table-responsive border my-5 rounded">
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th class="font-weight-bold"> @Html.DisplayNameFor(model => model.Name)</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td class="font-16px" colspan="4"> No Record Found!  <a class="mb-3 mb-sm-0" asp-action="Create">Create Menu Category</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
