@model PaginatedList<LocatePlate.Model.RestaurantDomain.Discount>
@{
    ViewData["Title"] = "Discount";
}
<div class="card pb-4">
    <div class="card-header card-header-rose card-header-text">
        <div class="card-head bg-primary">
            <h4 class="card-title-top text-white">
                Discount
            </h4>
        </div>
    </div>
    @{var siteDeals = (System.Collections.Generic.List<LocatePlate.Model.RestaurantDomain.Discount>)ViewBag.SiteDeals; }
    @if (siteDeals != null)
    {
        <div class="card-body">
            <h3>Site deals</h3>
            <p>Deals are @ViewBag.LocationName locations.Locate plate users are looking for resturants with following deals.Adding Site deals will boost the bookings and take-away orders.</p>
            <div class="scroll-div" style="background-color:gainsboro;">
                <div class="table-responsive border rounded">
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().PromoCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Percent)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().DealUrl)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var item in siteDeals)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PromoCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Percent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DealUrl)
                                    </td>
                                    <td>
                                        <a asp-action="AddSiteDeal" asp-route-id="@item.Id">Add to @ViewBag.RestaurantName </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    @if (Model.Count > 0)
    {
        <div class="card-body">
            <h3>@ViewBag.RestaurantName's deals</h3>
            <div class="d-sm-flex align-items-center mb-4 restaurant-create-link">
                <a class="mb-3 mb-sm-0 ml-auto" asp-action="Create">Add Discount</a>
            </div>
            <div class="scroll-div">
                <div class="table-responsive border rounded">
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().PromoCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Percent)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().DealUrl)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PromoCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Percent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DealUrl)
                                    </td>
                                    <td>
                                        <a asp-action="Create" asp-route-id="@item.Id"><img src="~/images/edit.png" class="mr-2" /></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/trash.png" class="mr-2" /> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @if (Model.TotalCount > 10)
            {
                <div class="d-flex mt-4 flex-wrap">
                    <p class="text-muted">Showing 1 to 10 of @Model.TotalCount entries</p>
                    <nav class="ml-auto">
                        <ul class="pagination separated pagination-info">
                            @if (Model.HasPreviousPage)
                            {
                                <li class="page-item"><a asp-controller="Restaurant" asp-action="Index" asp-route-pageindex="@Convert.ToInt32(Model.PageIndex)-1" class="page-link"><i class="icon-arrow-right"></i></a></li>
                            }
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.PageIndex)?'active':''"><a asp-action="Index" asp-route-pageindex="@(i - 1)" class="page-link">@i</a></li>
                            }
                            @if (Model.HasNextPage)
                            {
                                <li class="page-item"><a asp-controller="Restaurant" asp-action="Index" asp-route-pageindex="@Convert.ToInt32(Model.PageIndex)+1" class="page-link"><i class="icon-arrow-right"></i></a></li>
                            }
                        </ul>
                    </nav>
                </div>
            }
        </div>
    }
    else
    {
        <div class="card-body">
            <div class="table-responsive border my-5 rounded">
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th class="font-weight-bold"> @Html.DisplayNameFor(model => model.FirstOrDefault().PromoCode)</th>
                            <th class="font-weight-bold"> @Html.DisplayNameFor(model => model.FirstOrDefault().Price)</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td class="font-16px border-right-0" colspan="4"> Please Add Page to Proceed  <a class="mb-3 mb-sm-0" asp-action="Create">Add Discount</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
